body {
    padding-top: 54px;
    padding-bottom: 54px;
}

.btn {
    margin-top: 20px;
}

.portfolio-item {
    margin-bottom: 30px;
}

/* Course cover styles */

#course-cover {
    background-size: 100%;
}

.cover-wrapper {
    position: relative;
    align-content: center;
}

.cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.cover-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

/* Modals styles */

.modal {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    vertical-align: middle;
}

.modal-content {
    top: 55px;
    margin: auto;
    display: block;
    width: 80%;
    border-radius: 0;
}

.slideshow-image {
    width: 100%;
    height: 100%;
}

.comment-list {
    padding: 0rem 1.4rem 0rem 1.4rem;
    background-color: #ffffff !important;
}

.commenter-name {
    font-size: 18px;
}

.comment {
    font-size: 14px;
}

.write-comment-block .btn {
    margin-top: 0px;
}

.modal-footer {
    border-top: 0;
}

.slide-name {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#image-box {
    position: relative;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #343a40;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #343a40;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #343a40;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    background-color: #343a40;
    border: 0;
}

.nav-link, .nav-link:hover, .nav-link:active, .nav-link:focus {
    color: #ffffff;
}

.form-control {
    border: 1px solid #343a40;
}

.checkpoints-wrapper {
    width: 100%;
}

#checkpoints-list {
    border: 1px solid #343a40;
    border-radius: 0.25rem;
}

.table-row {
    width: 100%;
    padding: 5px 8px 5px 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.table-head {
    background-color: #343a40;
    color: #ffffff;
}

.table-col {
    width: 100%;
}

.delete-checkpoint {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

#choose-slide-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #343a40;
    border: 0;
}
