{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Изменить курс</h1>
        <div class="form-group">
            <label for="title">Название</label>
            <input id="title" class="form-control" value="{{ course.title }}">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea id="description" class="form-control" rows="4">{{ course.description }}</textarea>
        </div>

        <h2 class="my-4" id="current-image">Текущий слайд</h2>
        {% include "courses/presentation-player.html" %}
        {% include "courses/presentation-controllers.html" %}
        <div class="row">
            <div class="col-md-8 col-sm-8 mb-4">
                <h3 class="my-4" id="slides-label">Все слайды</h3>
                {% include "courses/slides_panel.html" %}
            </div>
            <div class="col-md-4 col-sm-4 mb-4 checkpoints-wrapper" id="checkpoints-wrapper">
                <h3 class="my-4" id="checkpoints-label">Контрольные точки</h3>
                {% include "courses/checkpoints_list.html" %}
                <h3 class="my-4" id="pointers-label">Указатели</h3>
                {% include "courses/pointers_list.html" %}
            </div>
        </div>
        <button id="save" class="btn btn-dark" type="submit">Сохранить</button>

        {% include "courses/error_modal.html" %}
    </div><!-- /.container -->

    <script>
        let course_id = {{ course.pk }};
        let slideList = {{ slides|safe }};
        let checkPoints = {{ check_points|safe }};
        let pointers = {{ pointers|safe }};

        $(document).ready(function () {
            fillCheckPointsList();
            fillPointersList();

            slideList.forEach(function (slide) {
                addSlideToChooseList(slide);
            });
        });

        $("#save").click(function () {
            let course = {
                course_id: course_id,
                title: $("#title").val(),
                description: $("#description").val(),
                slides: slideList,
                check_points: checkPoints,
                pointers: pointers
            }

            if (!course.title) {
                $("#error-text").text("Укажите название презентации");
                $("#error-modal").modal();
                return;
            }
            if (!course.slides) {
                $("#error-text").text("Добавьте слайды презентации");
                $("#error-modal").modal();
                return;
            }
            if (course.check_points.length === 1) {
                $("#error-text").text("Укажите переключение файлов");
                $("#error-modal").modal();
                return;
            }

            $.ajax({
                url: baseUrl + "courses/change_course",
                type: "POST",
                data: JSON.stringify(course),
                success: function (data) {
                    let course_id = data["course_id"]
                    document.location.href = baseUrl + "courses/get_course/" + course_id;
                },
                error: function () {
                    console.log("error while changing...");
                }
            });
        });
    </script>
{% endblock %}