<div id="checkpoints-list">
</div>

<script>
    function fillCheckPointsList() {
        $("#checkpoints-list").empty();
        addCheckPointToCheckpointsList({}, true, false);
        addCheckPointToCheckpointsList(checkPoints[0], false, true);
        for (let i = 1; i < checkPoints.length; ++i) {
            addCheckPointToCheckpointsList(checkPoints[i], false, false);
        }
    }

    function addCheckPointToCheckpointsList(checkPoint, head, firstSlide) {
        let rowClass;
        if (head) {
            rowClass = "row table-row table-head margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
        } else {
            rowClass = "row table-row margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
        }

        let checkpointRowWrapper = $("<div>", {
            class: rowClass
        });
        let checkpointTimeColumnWrapper = $("<div>", {
            class: "checkpoint-time col-md-3 table-col"
        });

        let checkPointTimeWrapper;
        if (head) {
            checkPointTimeWrapper = $("<div>", {
                class: "cell",
                text: "Время"
            });
        } else {
            if (firstSlide) {
                checkPointTimeWrapper = $("<div>", {
                class: "cell",
                text: "0:00"
            });
            } else {
                checkPointTimeWrapper = $("<input>", {
                    class: "time",
                    value: formatTimeToString(checkPoint.time),
                    css: {
                        "background-color": "inherit",
                        "color": "inherit"
                    }
                });
                checkPointTimeWrapper.change(function () {
                    console.log(checkPointTimeWrapper.val());
                    let time = formatStringToTime(checkPointTimeWrapper.val());
                    if (time) {
                        checkPoint.time = time;
                        checkPoints.sort(function (a, b) {
                            if (a.time > b.time) return 1;
                            if (a.time < b.time) return -1;
                            return 0;
                        });
                        for (let i = 0; i < checkPoints.length; ++i) {
                            checkPoints[i].number = i;
                        }
                        fillCheckPointsList();
                    } else {
                        checkPointTimeWrapper.val(formatTimeToString(checkPoint.time));
                    }
                });
            }
        }

        checkpointTimeColumnWrapper.append(checkPointTimeWrapper);
        checkpointRowWrapper.append(checkpointTimeColumnWrapper);

        let checkPointSlideName;
        if (head) {
            checkPointSlideName = "Слайд";
        } else {
            checkPointSlideName = checkPoint.slide_name;
        }

        let checkpointSlideColumnWrapper = $("<div>", {
            class: "checkpoint-slide col-md-8 table-col"
        });
        let checkpointSlideCellWrapper = $("<div>", {
            class: "cell",
            text: checkPointSlideName
        });
        checkpointSlideColumnWrapper.append(checkpointSlideCellWrapper);
        checkpointRowWrapper.append(checkpointSlideColumnWrapper);

        if (!head && !firstSlide) {
            let deleteCheckpointButton = $("<button>", {
                class: "close delete-checkpoint col-md-1",
                type: "button",
                html: "<span aria-hidden=\"true\">&times;</span>"
            });
            checkpointRowWrapper.append(deleteCheckpointButton);
            deleteCheckpointButton.click(function () {
                let i = checkPoints.indexOf(checkPoint);
                checkPoints.splice(i, 1);

                fillCheckPointsList();
            });
        }

        let checkPointList = $("#checkpoints-list");
        checkPointList.append(checkpointRowWrapper);
    }
</script>