<div id="checkpoints-list">
</div>

<script>
    function fillCheckPointsList() {
        $("#checkpoints-list").empty();
        addCheckPointToCheckpointsList({}, true, false);
        addCheckPointToCheckpointsList(checkPoints[0], false, true);
        for (let i = 1; i < checkPoints.length; ++i) {
            addCheckPointToCheckpointsList(checkPoints[i], false, false);
        }
    }

    function addCheckPointToCheckpointsList(checkPoint, head, firstSlide) {
        let rowClass;
        if (head) {
            rowClass = "row table-row table-head margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
        } else {
            rowClass = "row table-row margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
        }

        let checkpointRowWrapper = $("<div>", {
            class: rowClass
        });
        let checkpointTimeColumnWrapper = $("<div>", {
            class: "checkpoint-time col-md-3 table-col"
        });

        let checkPointTime;
        if (head) {
            checkPointTime = "Время";
        } else {
            checkPointTime = formatTime(checkPoint.time);
        }

        let checkpointTimeCellWrapper = $("<div>", {
            class: "cell",
            text: checkPointTime
        });
        checkpointTimeColumnWrapper.append(checkpointTimeCellWrapper);
        checkpointRowWrapper.append(checkpointTimeColumnWrapper);

        let checkPointSlideName;
        if (head) {
            checkPointSlideName = "Слайд";
        } else {
            checkPointSlideName = checkPoint.slide_name;
        }

        let checkpointSlideColumnWrapper = $("<div>", {
            class: "checkpoint-slide col-md-8 table-col"
        });
        let checkpointSlideCellWrapper = $("<div>", {
            class: "cell",
            text: checkPointSlideName
        });
        checkpointSlideColumnWrapper.append(checkpointSlideCellWrapper);
        checkpointRowWrapper.append(checkpointSlideColumnWrapper);

        if (!head && !firstSlide) {
            let deleteCheckpointButton = $("<button>", {
                class: "close delete-checkpoint col-md-1",
                type: "button",
                html: "<span aria-hidden=\"true\">&times;</span>"
            });
            checkpointRowWrapper.append(deleteCheckpointButton);
            deleteCheckpointButton.click(function () {
                let i = checkPoints.indexOf(checkPoint);
                checkPoints.splice(i, 1);

                fillCheckPointsList();
            });
        }

        let checkPointList = $("#checkpoints-list");
        checkPointList.append(checkpointRowWrapper);
    }

    player.addEventListener('timeupdate', updateSlideIfNeed);
    function updateSlideIfNeed() {
        let currentTime = player.currentTime;
        for (let i = checkPoints.length - 1; i >= 0; --i) {
            if (checkPoints[i].time < currentTime) {
                let nextSlide = $.grep(slideList, function (e) {
                    return e.number === checkPoints[i].slide_number;
                })[0];
                resizePresentationImageDiv();
                presentationPlayerImage.css("background-image", "url(" + nextSlide.image + ")");
                break;
            }
        }
    }
</script>