{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="my-4">{{ course.title }}</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="cover-wrapper">
                    <img id="course-cover" class="img-fluid" src="{{ slides.0.image.url }}" alt="">
                    <div class="cover-overlay">
                        <button id="play-course">
                            <span class="btn btn-default"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Course Description</h3>
                <p>{{ course.description }}</p>
            </div>
        </div>

        <h3 class="my-4">All slides</h3>
        <div class="row">
            {% for slide in slides %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <img id="image{{ slide.number }}" class="img-fluid" src="{{ slide.image.url }}">
                </div>
            {% endfor %}
        </div>

        {% if author.username == request.user.username %}
            <div class="modal-footer">
                <a href="{% url "delete_course" course_id=course.id %}">
                    <button id="delete" class="btn btn-outline-dark" type="submit">Редактировать</button>
                </a>
                <a href="{% url "delete_course" course_id=course.id %}">
                    <button id="delete" class="btn btn-dark" type="submit">Удалить</button>
                </a>
            </div>
        {% endif %}
    </div>

    <div id="slideshow-modal" class="modal-centered modal">
        <div class="modal-content">
            <div id="image-box">
                <img src="" class="slideshow-image" id="slideshow"/>
                <a class="carousel-control-prev" id="prev-slide">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" id="next-slide">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div id="audio-player" class="audio green-audio-player">
                <div class="loading">
                    <div class="spinner"></div>
                </div>
                <div class="play-pause-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                        <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon"
                              id="playPause"></path>
                    </svg>
                </div>

                <div class="controls">
                    <span class="current-time">0:00</span>
                    <div class="slider" data-direction="horizontal">
                        <div class="progress">
                            <div class="pin" id="progress-pin" data-method="rewind"></div>
                        </div>
                    </div>
                    <span class="total-time">0:00</span>
                </div>

                <div class="volume">
                    <div class="volume-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#566574" fill-rule="evenodd"
                                  d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z"
                                  id="speaker"></path>
                        </svg>
                    </div>
                    <div class="volume-controls hidden">
                        <div class="slider" data-direction="vertical">
                            <div class="progress">
                                <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <audio crossorigin>
                    <source id="audio-sourse"
                            src="{{ course.audio.url }}"
                            type="audio/mpeg">
                </audio>
            </div>

            <div id="comment-box">
                <div id="comment-list" class="comment-list">
                </div>
                <div class="write-comment-block">
                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" id="comment-text" rows="2"></textarea>
                        </div>
                        <button class="btn btn-dark" id="send-comment">Submit comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/audio-player.js" %}"></script>
    <script>
        {% autoescape off %}
            let slideList = [];
            let checkPoints = [];
            let comments;
            {% for slide in slides %}
                comments = [];
                {% for comment in slide.comments %}
                    comments.push({
                        id: {{ comment.id }},
                        slideID: {{ comment.slide_id }},
                        authorID: {{ comment.author_id }},
                        authorName: "{{ comment.author_name }}",
                        text: "{{ comment.text }}"
                    })
                {% endfor %}
                slideList.push({
                    id: {{ slide.id }},
                    number: {{ slide.number }},
                    image: "{{ slide.image.url }}",
                    comments: comments
                });
            {% endfor %}
            {% for checkPoint in check_points %}
                checkPoints.push({
                    number: {{ checkPoint.number }},
                    time: {{ checkPoint.time }},
                    slideNumber: {{ checkPoint.number }}
                });
            {% endfor %}
        {% endautoescape %}

        let currentSlideshowSlideNumber;

        $("#play-course").click(function () {
            currentSlideshowSlideNumber = 0;
            updateCommentList(currentSlideshowSlideNumber);

            $("#prev-slide").hide();
            $("#next-slide").hide();
            $("#audio-player").show();
            $("#comment-box").css("padding-top", "0");
            $("#slideshow").attr("src", $("#image0").attr("src"));

            $("#slideshow-modal").modal();
        });

        function updateSlideshowControllers() {
            let prevSlide = $("#prev-slide");
            let nextSlide = $("#next-slide");

            if (currentSlideshowSlideNumber === 0) {
                prevSlide.hide();
                nextSlide.show();
            } else if (currentSlideshowSlideNumber === slideList.length - 1) {
                prevSlide.show();
                nextSlide.hide();
            } else {
                prevSlide.show();
                nextSlide.show();
            }
        }

        function updateSlideshowImage() {
            let slide = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0];

            $("#slideshow").attr("src", slide.image);
        }

        function updateSlideshow() {
            updateCommentList();
            updateSlideshowImage();
            updateSlideshowControllers();
        }

        $("img[id^=image]").click(function () {
            currentSlideshowSlideNumber = parseInt(this.id.substr(5));
            let slide = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0];
            updateCommentList();
            updateSlideshowControllers();

            updateSlideshowControllers();
            updateSlideshowImage();
            $("#audio-player").hide();
            $("#comment-box").css("padding-top", "15px");

            $("#slideshow-modal").modal();
        });

        $("#slideshow-modal").on("hidden.bs.modal", function () {
            playPause.attributes.d.value = "M18 12L0 24V0";
            player.pause();
            player.currentTime = 0;
        })

        $("#prev-slide").click(function () {
            currentSlideshowSlideNumber--;
            updateSlideshow();
        });

        $("#next-slide").click(function () {
            currentSlideshowSlideNumber++;
            updateSlideshow();
        });

        $("#send-comment").click(function () {
            let commentField = $("#comment-text");
            let commentText = commentField.val();
            let currentSlideshowSlideId = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0].id;
            if (commentText) {
                $.ajax({
                    url: baseUrl + "courses/save_slide_comment",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({"text": commentText, "slide_id": currentSlideshowSlideId}),
                    success: function (commentData) {
                        let comment = {
                            id: commentData.id,
                            slideID: commentData.slide_id,
                            authorID: commentData.author_id,
                            authorName: commentData.author_name,
                            text: commentData.text
                        }

                        $.grep(slideList, function (e) {
                            return e.id === currentSlideshowSlideId;
                        })[0].comments.push(comment);

                        let commentList = $("#comment-list");
                        if (!commentList.is(":empty")) {
                            commentList.append($("<br>"));
                        }
                        addCommentToList(comment);

                        commentField.val("");
                    },
                    error: function (data) {
                        console.log("error");
                    }
                });
            }
        });

        function updateCommentList() {
            let slide = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0];
            let commentList = $("#comment-list");

            commentList.empty();

            for (let i = 0; i < slide.comments.length; ++i) {
                if (i !== 0) commentList.append("<br>");
                addCommentToList(slide.comments[i]);
            }

            $("#comment-text").val("");
        }

        function addCommentToList(comment) {
            let commentList = $("#comment-list");
            let commentBlockWrapper = $("<div>", {class: "comment-block media mb-0"})
            let authorImage = $("<img>", {
                class: "d-flex mr-3 rounded-circle",
                src: "http://placehold.it/50x50"
            })
            let commentWrapper = $("<div>", {class: "media-body"})
            let commentAuthor = $("<div>", {
                class: "mt-0 commenter-name",
                text: comment.authorID === -1 ? "Anonymous" : comment.authorName
            })
            let commentText = $("<div>", {
                class: "comment",
                text: comment.text
            })

            commentWrapper.append(commentAuthor);
            commentWrapper.append(commentText);

            commentBlockWrapper.append(authorImage);
            commentBlockWrapper.append(commentWrapper);

            commentList.append(commentBlockWrapper);
        }

        player.addEventListener('timeupdate', updateSlideIfNeed);

        function updateSlideIfNeed() {
            let currentTime = player.currentTime;
            for (let i = checkPoints.length - 1; i >= 0; --i) {
                if (checkPoints[i].time < currentTime) {
                    let nextSlide = $.grep(slideList, function (e) {
                        return e.number === checkPoints[i].slideNumber;
                    })[0];

                    $("#slideshow").attr("src", nextSlide.image);
                    break;
                }
            }
        }
    </script>

{% endblock %}
