{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">{{ course.title }}</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="cover-wrapper">
                    <img id="course-cover" class="img-fluid" src="{{ slides.0.image }}" alt="">
                    <div class="cover-overlay">
                        <button id="play-course">
                            <span class="btn btn-default"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Описание курса</h3>
                <p>{{ course.description }}</p>
            </div>
        </div>

        <h3 class="my-4">Все слайды</h3>
        <div class="row">
            {% for slide in slides %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <img id="image{{ slide.number }}" class="img-fluid" src="{{ slide.image }}">
                </div>
            {% endfor %}
        </div>

        {% if author.username == request.user.username %}
            <div class="modal-footer">
                <a href="{% url "change_course_page" course_id=course.id %}">
                    <button id="change" class="btn btn-outline-dark" type="submit">Редактировать</button>
                </a>
                <a href="{% url "delete_course" course_id=course.id %}">
                    <button id="delete" class="btn btn-dark" type="submit">Удалить</button>
                </a>
            </div>
        {% endif %}
    </div>

    <div id="slideshow-modal" class="modal-centered modal">
        <div class="modal-content">
            {% include "courses/presentation-player.html" %}
            <div id="comment-box">
                <div id="comment-list" class="comment-list">
                </div>
                <div class="write-comment-block">
                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" id="comment-text" rows="2"></textarea>
                        </div>
                        <button class="btn btn-dark" id="send-comment">Submit comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% autoescape off %}
            let slideList = [];
            let checkPoints = [];
            let pointers = [];
            let comments;
            let points;

            {% for slide in slides %}
                comments = [];
                {% for comment in slide.comments %}
                    comments.push({
                        id: {{ comment.id }},
                        slide_id: {{ comment.slide_id }},
                        author_id: {{ comment.author_id }},
                        author_name: "{{ comment.author_name }}",
                        text: "{{ comment.text }}"
                    });
                {% endfor %}
                slideList.push({
                    id: {{ slide.id }},
                    number: {{ slide.number }},
                    image: "{{ slide.image }}",
                    comments: comments
                });
            {% endfor %}
            {% for checkPoint in check_points %}
                checkPoints.push({
                    number: {{ checkPoint.number }},
                    time: {{ checkPoint.time }},
                    slide_number: {{ checkPoint.number }}
                });
            {% endfor %}
            {% for pointer in pointers %}
                points = []
                {% for point in pointer.points %}
                    points.push({
                        time: {{ point.time }},
                        left: {{ point.left }},
                        top: {{ point.top }}
                    });
                {% endfor %}
                pointers.push({
                    start_time: {{ pointer.start_time }},
                    end_time: {{ pointer.end_time }},
                    points: points
                });
            {% endfor %}

            getImageSize("{{ slides.0.image }}");
        {% endautoescape %}

        $(window).resize(function () {
            resizePresentationImageDiv();
        });

        let currentSlideshowSlideNumber;

        $("#play-course").click(function () {
            console.log(checkPoints);
            console.log(pointers);

            currentSlideshowSlideNumber = 0;
            updateCommentList(currentSlideshowSlideNumber);

            $("#prev-slide").hide();
            $("#next-slide").hide();
            $("#audio-player").show();
            $("#comment-box").css("padding-top", "0");
            $("#slideshow").attr("src", $("#image0").attr("src"));

            $("#slideshow-modal").modal();

            resizePresentationImageDiv();
            presentationPlayerImage.css("background-image", "url({{ slides.0.image }})");
        });

        function updateSlideshowControllers() {
            let prevSlide = $("#prev-slide");
            let nextSlide = $("#next-slide");

            if (currentSlideshowSlideNumber === 0) {
                prevSlide.hide();
                nextSlide.css("display", "grid");
            } else if (currentSlideshowSlideNumber === slideList.length - 1) {
                prevSlide.css("display", "grid")
                nextSlide.hide();
            } else {
                prevSlide.css("display", "grid");
                nextSlide.css("display", "grid");
            }
        }

        function updateSlideshowImage() {
            let slide = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0];

            presentationPlayerImage.css("background-image", "url(" + slide.image + ")");
        }

        function updateSlideshow() {
            updateCommentList();
            updateSlideshowImage();
            updateSlideshowControllers();
        }

        function getImageNumberFromID(id) {
            return parseInt(id.substr("image".length));
        }

        $("img[id^=image]").click(function () {
            currentSlideshowSlideNumber = getImageNumberFromID(this.id);

            updateCommentList();
            updateSlideshowControllers();

            updateSlideshowControllers();
            updateSlideshowImage();
            $("#audio-player").hide();
            $("#comment-box").css("padding-top", "15px");

            $("#slideshow-modal").modal();

            resizePresentationImageDiv();
        });

        $("#slideshow-modal").on("hidden.bs.modal", function () {
            playPause.attributes.d.value = "M18 12L0 24V0";
            player.pause();
            player.currentTime = 0;
        })

        $("#prev-slide").click(function () {
            currentSlideshowSlideNumber--;
            updateSlideshow();
        });

        $("#next-slide").click(function () {
            currentSlideshowSlideNumber++;
            updateSlideshow();
        });

        $("#send-comment").click(function () {
            let commentField = $("#comment-text");
            let commentText = commentField.val();
            let currentSlideshowSlideId = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0].id;
            if (commentText) {
                $.ajax({
                    url: baseUrl + "courses/save_slide_comment",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({"text": commentText, "slide_id": currentSlideshowSlideId}),
                    success: function (commentData) {
                        let comment = {
                            id: commentData.id,
                            slideID: commentData.slide_id,
                            author_id: commentData.author_id,
                            author_name: commentData.author_name,
                            text: commentData.text
                        }

                        $.grep(slideList, function (e) {
                            return e.id === currentSlideshowSlideId;
                        })[0].comments.push(comment);

                        let commentList = $("#comment-list");
                        if (!commentList.is(":empty")) {
                            commentList.append($("<br>"));
                        }
                        addCommentToList(comment);

                        commentField.val("");
                    },
                    error: function (data) {
                        console.log("error");
                    }
                });
            }
        });

        function updateCommentList() {
            let slide = $.grep(slideList, function (e) {
                return e.number === currentSlideshowSlideNumber;
            })[0];
            let commentList = $("#comment-list");

            commentList.empty();

            for (let i = 0; i < slide.comments.length; ++i) {
                if (i !== 0) commentList.append("<br>");
                addCommentToList(slide.comments[i]);
            }

            $("#comment-text").val("");
        }

        function addCommentToList(comment) {
            let commentList = $("#comment-list");
            let commentBlockWrapper = $("<div>", {class: "comment-block media mb-0"})
            let commentWrapper = $("<div>", {class: "media-body"})
            let commentAuthor = $("<div>", {
                class: "mt-0 commenter-name",
                text: comment.author_id === -1 ? "Anonymous" : comment.author_name
            })
            let commentText = $("<div>", {
                class: "comment",
                text: comment.text
            })

            commentWrapper.append(commentAuthor);
            commentWrapper.append(commentText);

            commentBlockWrapper.append(commentWrapper);

            commentList.append(commentBlockWrapper);
        }

        for (let i = 0; i < 4; ++i) {
            player.addEventListener('timeupdate', addPointerIfNeed);
        }

        function addPointerIfNeed() {
            let currentTime = player.currentTime;
            for (let i = 0; i < pointers.length; ++i) {
                let pointer = pointers[i];
                if (currentTime > pointer.start_time &&
                    currentTime < pointer.end_time) {
                    for (let j = 0; j < pointer.points.length; ++j) {
                        let point = pointer.points[j];
                        if (currentTime <= point.time) {
                            console.log(currentTime, point);
                            console.log("*");
                            let slideshowImage = presentationPlayerImage;
                            let left = point.left * slideshowImage.width() / 100;
                            let top = point.top * slideshowImage.height() / 100;
                            {#console.log(left, top);#}
                            $("#cursor").css("left", left);
                            $("#cursor").css("top", top);
                            break;
                        }
                    }
                }
            }
        }
    </script>

{% endblock %}
