{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Create course</h1>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="4"></textarea>
        </div>

        <div id="presentation-input-group" class="form-group">
            <label for="upload">Презентация</label>
            <input id="presentation-input" type="file" multiple/>
        </div>
        <div id="audio-input-group" class="form-group">
            <label for="upload">Аудио-файл</label>
            <input id="audio-input" type="file"/>
        </div>

        <h2 class="my-4" id="cover-label">Course cover</h2>
        <div class="cover-wrapper">
            <div id="course-cover" class="img-fluid"></div>
            {#            <img id="course-cover" class="img-fluid" src="" alt="">#}
            <div id="audio-player" class="audio green-audio-player">
                <div class="loading">
                    <div class="spinner"></div>
                </div>
                <div class="play-pause-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                        <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon"
                              id="playPause"></path>
                    </svg>
                </div>

                <div class="controls">
                    <span class="current-time">0:00</span>
                    <div class="slider" data-direction="horizontal">
                        <div class="progress">
                            <div class="pin" id="progress-pin" data-method="rewind"></div>
                        </div>
                    </div>
                    <span class="total-time">0:00</span>
                </div>

                <div class="volume">
                    <div class="volume-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#566574" fill-rule="evenodd"
                                  d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z"
                                  id="speaker"></path>
                        </svg>
                    </div>
                    <div class="volume-controls hidden">
                        <div class="slider" data-direction="vertical">
                            <div class="progress">
                                <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <audio crossorigin>
                    <source id="audio-source" src="" type="audio/mpeg">
                </audio>
            </div>
            <button id="pointer-button" class="btn btn-dark">Указатель</button>
            <div id="slide-controllers" class="btn-group">
                <button id="next-slide-button" class="btn btn-dark">Следующий слайд</button>
                <div class="dropdown">
                    <button id="choose-slide-button" class="btn btn-secondary dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose slide
                    </button>
                    <div id="slide-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 mb-4">
                <h3 class="my-4" id="slides-label">All slides</h3>
                <div class="row" id="images">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mb-4 checkpoints-wrapper" id="checkpoints-wrapper">
                <h3 class="my-4" id="checkpoints-label">Checkpoints</h3>
                <div id="checkpoints-list">
                </div>
                <h3 class="my-4" id="pointers-label">Указатели</h3>
                <div id="pointers-list">
                </div>
            </div>
        </div>
        <button id="save" class="btn btn-dark" type="submit">Save</button>
    </div><!-- /.container -->

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                let cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                }
            }
        });

        $(document).ready(function () {
            $("#cover-label").hide();
            $("#slides-label").hide();

            $("#checkpoints-label").hide();
            $("#checkpoints-list").hide();

            $("#audio-player").hide();

            $("#slide-controllers").hide();
            $("#pointer-button").hide();

            $("#pointers-label").hide();
            $("#pointers-list").hide();
        });

        $(window).resize(function () {
            resizeCourseCoverDiv();
        });

        function resizeCourseCoverDiv() {
            let courseCover = $("#course-cover");
            let courseCoverWidth = courseCover.width();
            courseCover.height(courseCoverWidth * imageHeight / imageWidth);
        }

        let course = {};
        let slides = [];
        let audioFile = {};
        let checkPoints = [];
        let pointers = [];
        let currentSlideshowSlideNumber = 0;
        let pointClicked;
        let pointing;
        let pointer;

        let imageHeight;
        let imageWidth;

        $("#presentation-input").change(function () {
            slides = [];
            $("#presentation-input-group").hide();
            $("#images").empty();
            $("#cover-label").show();
            $("#slides-label").show();

            let selectedFiles = this.files;

            for (let i = 0; i < selectedFiles.length; ++i) {
                slides.push({
                    number: i,
                    name: selectedFiles[i].name,
                    raw: selectedFiles[i]
                });
            }

            for (let i = 0; i < slides.length; ++i) {
                let fileReader = new FileReader();
                fileReader.onload = function () {
                    slides[i].data = fileReader.result;
                    check();
                };
                fileReader.readAsDataURL(slides[i].raw);
            }

            function check() {
                let ready = true;
                slides.forEach(function (e) {
                    if (!e.data) ready = false;
                })

                if (ready) done();
            }

            function done() {
                slides.sort(function (a, b) {
                    if (a.number > b.number) return 1;
                    if (a.number < b.number) return -1;
                    return 0;
                })

                slides.forEach(function (e) {
                    createImageDom(e);
                    addSlideToChooseList(e);
                })

                console.log("slides: ", slides);
            }

            function createImageDom(slide) {
                let cardWrapper = $("<div>", {
                    class: "col-lg-3 col-md-4 col-sm-6 portfolio-item"
                });
                let imageWrapper = $("<div>", {
                    class: "card h-100"
                });
                let image = $("<img>", {
                    class: "card-img-top",
                    src: slide.data,
                    id: "image" + slide.id,
                });
                let cardBody = $("<div>", {
                    class: "slide-name",
                    text: slide.name
                });

                imageWrapper.append(image);
                imageWrapper.append(cardBody);

                cardWrapper.append(imageWrapper);
                $("#images").append(cardWrapper);

                if (slide.number === 0) {
                    let image = new Image();
                    image.src = slide.data;
                    image.onload = function () {
                        imageWidth = image.naturalWidth;
                        imageHeight = image.naturalHeight;
                        console.log("(", imageWidth, "; ", imageHeight, ")");
                        resizeCourseCoverDiv();
                        $("#course-cover").css("background-image", "url(" + slide.data + ")");
                    };
                    currentSlideshowSlideNumber = 0;
                }
            }

            function addSlideToChooseList(slide) {
                let slideLine = $("<a>", {
                    class: "dropdown-item",
                    text: slide.name
                });
                slideLine.click(function () {
                    currentSlideshowSlideNumber = slide.number;
                    let checkPoint = {
                        number: checkPoints.length,
                        time: player.currentTime,
                        slide_number: currentSlideshowSlideNumber
                    };
                    checkPoints.push(checkPoint);
                    $("#course-cover").css("backgroundImage", "url(" + slide.data + ")");
                    addCheckPointToCheckpointsList(checkPoint);
                });
                $("#slide-list").append(slideLine);
            }

            if (!$("#audio-input").is(":visible")) {
                checkPoints.push({
                    number: 0,
                    time: 0,
                    slide_number: currentSlideshowSlideNumber
                });
                $("#slide-controllers").show();
                $("#pointer-button").show();

                $("#checkpoints-label").show();
                $("#checkpoints-list").show();

                $("#pointers-label").show();
                $("#pointers-list").show();
                fillCheckPointsList();
                fillPointersList();
            }
            console.log(slides);
        });

        $("#audio-input").change(function () {
            $("#audio-input-group").hide();

            let file = this.files[0];
            let audio = $("audio");

            audioFile.name = file.name;

            let fileReader = new FileReader();
            fileReader.onload = function () {
                audioFile.data = fileReader.result;
            };
            fileReader.readAsDataURL(file);

            audio.attr("src", URL.createObjectURL(file));
            $("#audio-player").show();

            if (!$("#presentation-input").is(":visible")) {
                checkPoints.push({
                    number: 0,
                    time: 0,
                    slide_number: currentSlideshowSlideNumber
                });
                $("#slide-controllers").show();
                $("#pointer-button").show();

                $("#checkpoints-label").show();
                $("#checkpoints-list").show();

                $("#pointers-label").show();
                $("#pointers-list").show();
                fillCheckPointsList();
                fillPointersList();
            }
        });

        $("#pointer-button").click(function () {
            pointClicked = true;
        });

        $("#course-cover").mousedown(function (e) {
            if (pointClicked) {
                pointing = true;
                let offset = $("#course-cover").offset();
                pointer = {
                    start_time: player.currentTime,
                    points: [{
                        time: player.currentTime,
                        left: e.pageX - offset.left,
                        top: e.pageY - offset.top
                    }]
                }
            }
        });

        $("#course-cover").mousemove(function (e) {
            if (pointing) {
                let offset = $("#course-cover").offset();
                pointer.points.push({
                    time: player.currentTime,
                    left: e.pageX - offset.left,
                    top: e.pageY - offset.top
                });
            }
        });

        $(document).mouseup(function () {
            if (pointing) {
                pointClicked = false;
                pointing = false;

                pointer.end_time = player.currentTime;
                pointers.push(pointer);
                addPointerToPointersList(pointer, false);

                console.log(pointer);
                console.log(pointers);
            }
        });

        $("#next-slide-button").click(function () {
            if (currentSlideshowSlideNumber !== slides.length - 1) {
                currentSlideshowSlideNumber++;
                let checkPoint = {
                    number: checkPoints.length,
                    time: player.currentTime,
                    slide_number: currentSlideshowSlideNumber
                }
                checkPoints.push(checkPoint);

                let nextSlide = $.grep(slides, function (e) {
                    return e.number === currentSlideshowSlideNumber;
                })[0];

                $("#course-cover").css("backgroundImage", "url(" + nextSlide.data + ")");
                addCheckPointToCheckpointsList(checkPoint, false, false);
            }
        });

        function fillCheckPointsList() {
            console.log(checkPoints);

            $("#checkpoints-list").empty();
            addCheckPointToCheckpointsList({}, true, false);
            addCheckPointToCheckpointsList(checkPoints[0], false, true);
            console.log(checkPoints.length);
            for (let i = 1; i < checkPoints.length; ++i) {
                addCheckPointToCheckpointsList(checkPoints[i], false, false);
            }
        }

        function addCheckPointToCheckpointsList(checkPoint, head, firstSlide) {
            console.log(checkPoint, head, firstSlide);
            let rowClass;
            if (head) {
                rowClass = "row table-row table-head margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
            } else {
                rowClass = "row table-row margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
            }

            let checkpointRowWrapper = $("<div>", {
                class: rowClass
            });
            let checkpointTimeColumnWrapper = $("<div>", {
                class: "checkpoint-time col-md-3 table-col"
            });

            let checkPointTime;
            if (head) {
                checkPointTime = "Время";
            } else {
                checkPointTime = formatTime(checkPoint.time);
            }

            let checkpointTimeCellWrapper = $("<div>", {
                class: "cell",
                text: checkPointTime
            });
            checkpointTimeColumnWrapper.append(checkpointTimeCellWrapper);
            checkpointRowWrapper.append(checkpointTimeColumnWrapper);

            let checkPointSlideName;
            if (head) {
                checkPointSlideName = "Слайд";
            } else {
                let checkPointSlideNumber = checkPoint.slide_number;
                let slide = $.grep(slides, function (e) {
                    return e.number === checkPointSlideNumber;
                })[0];
                checkPointSlideName = slide.name;
                console.log(slide);
            }

            let checkpointSlideColumnWrapper = $("<div>", {
                class: "checkpoint-slide col-md-8 table-col"
            });
            let checkpointSlideCellWrapper = $("<div>", {
                class: "cell",
                text: checkPointSlideName
            });
            checkpointSlideColumnWrapper.append(checkpointSlideCellWrapper);
            checkpointRowWrapper.append(checkpointSlideColumnWrapper);

            if (!head && !firstSlide) {
                let deleteCheckpointButton = $("<button>", {
                    class: "close delete-checkpoint col-md-1",
                    type: "button",
                    html: "<span aria-hidden=\"true\">&times;</span>"
                });
                checkpointRowWrapper.append(deleteCheckpointButton);
                deleteCheckpointButton.click(function () {
                    let i = checkPoints.indexOf(checkPoint);
                    checkPoints.splice(i, 1);

                    fillCheckPointsList();
                });
            }

            let checkPointList = $("#checkpoints-list");
            checkPointList.append(checkpointRowWrapper);
        }

        function fillPointersList() {
            $("#pointers-list").empty();
            addPointerToPointersList({}, true);
            console.log(pointers.length);
            for (let i = 0; i < pointers.length; ++i) {
                addPointerToPointersList(pointers[i], false);
            }
        }

        function addPointerToPointersList(pointer, head) {
            let rowClass;
            if (head) {
                rowClass = "row table-row table-head margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
            } else {
                rowClass = "row table-row margin-0 input-group mb-2 mr-sm-2 mb-sm-0";
            }

            let pointerRowWrapper = $("<div>", {
                class: rowClass
            });
            let pointerTimeStartColumnWrapper = $("<div>", {
                class: "pointer-start col-md-5 table-col"
            });

            let pointerTimeStart;
            if (head) {
                pointerTimeStart = "Время начала";
            } else {
                pointerTimeStart = formatTime(pointer.start_time);
            }

            let pointerTimeStartCellWrapper = $("<div>", {
                class: "cell",
                text: pointerTimeStart
            });
            pointerTimeStartColumnWrapper.append(pointerTimeStartCellWrapper);
            pointerRowWrapper.append(pointerTimeStartColumnWrapper);


            let pointerTimeEnd;
            if (head) {
                pointerTimeEnd = "Время конца";
            } else {
                pointerTimeEnd = formatTime(pointer.end_time);
            }
            let pointerTimeEndColumnWrapper = $("<div>", {
                class: "pointer-end col-md-5 table-col"
            });

            let pointerTimeEndCellWrapper = $("<div>", {
                class: "cell",
                text: pointerTimeEnd
            });
            pointerTimeEndColumnWrapper.append(pointerTimeEndCellWrapper);
            pointerRowWrapper.append(pointerTimeEndColumnWrapper);

            if (!head) {
                let deletePointerButton = $("<button>", {
                    class: "close delete-pointer col-md-2",
                    type: "button",
                    html: "<span aria-hidden=\"true\">&times;</span>"
                });
                pointerRowWrapper.append(deletePointerButton);
                deletePointerButton.click(function () {
                    let i = pointers.indexOf(pointer);
                    pointers.splice(i, 1);

                    fillPointersList();
                });
            }

            let pointerList = $("#pointers-list");
            pointerList.append(pointerRowWrapper);
        }

        $("#save").click(function () {
            course.title = $("#title").val();
            course.description = $("#description").val();
            course.slides = slides;
            course.audio = audioFile;
            course.check_points = checkPoints;
            course.pointers = pointers;
            console.log(checkPoints);

            let formData = new FormData();
            formData.append("course", JSON.stringify(course));
            $.ajax({
                url: baseUrl + "courses/save_course",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    document.location.href = baseUrl + "courses";
                },
                error: function (data) {
                    console.log("error");
                }
            });
        });
    </script>
    <script src="{% static "js/audio-player.js" %}"></script>

{% endblock %}
