{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Create course</h1>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="upload">Презентация</label>
            <input id="presentation-input" type="file" multiple/>
        </div>
        <div class="form-group">
            <label for="upload">Аудио-файл</label>
            <input id="audio-input" type="file"/>
        </div>

        <h2 class="my-4" id="cover-label">Course cover</h2>
        <div class="cover-wrapper">
            <img id="course-cover" class="img-fluid" src="" alt="">
            <div class="audio green-audio-player" id="audio-player">
                <div class="loading">
                    <div class="spinner"></div>
                </div>
                <div class="play-pause-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                        <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon"
                              id="playPause"></path>
                    </svg>
                </div>

                <div class="controls">
                    <span class="current-time">0:00</span>
                    <div class="slider" data-direction="horizontal">
                        <div class="progress">
                            <div class="pin" id="progress-pin" data-method="rewind"></div>
                        </div>
                    </div>
                    <span class="total-time">0:00</span>
                </div>

                <div class="volume">
                    <div class="volume-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#566574" fill-rule="evenodd"
                                  d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z"
                                  id="speaker"></path>
                        </svg>
                    </div>
                    <div class="volume-controls hidden">
                        <div class="slider" data-direction="vertical">
                            <div class="progress">
                                <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <audio crossorigin>
                    <source id="audio-source" src="" type="audio/mpeg">
                </audio>
            </div>
        </div>
        <h3 class="my-4" id="slides-label">All slides</h3>
        <div class="row" id="images">
        </div>
        <button id="save" class="btn btn-dark" type="submit">Сохранить</button>
    </div><!-- /.container -->

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $(document).ready(function () {
            $('#cover-label').hide();
            $('#slides-label').hide();
            $('#audio-player').hide();
        });

        let course = {};
        let slides = [];
        let images = [];
        $('#presentation-input').change(function () {
            slides = [];
            images = [];
            $('#images').empty();
            $('#cover-label').show();
            $('#slides-label').show();
            let selectedFiles = this.files;

            for (let i = 0; i < selectedFiles.length; ++i) {
                slides.push({
                    key: i,
                    name: selectedFiles[i].name,
                    raw: selectedFiles[i]
                });
            }

            for (let i = 0; i < slides.length; ++i) {
                let fileReader = new FileReader();
                fileReader.onload = function () {
                    slides[i].data = fileReader.result;
                    check();
                };
                fileReader.readAsDataURL(slides[i].raw);
            }

            function check() {
                let ready = true;
                slides.forEach(function (e) {
                    if (!e.data) ready = false;
                })

                if (ready) done();
            }

            function done() {
                slides.sort(function (a, b) {
                    if (a.key > b.key) return 1;
                    if (a.key < b.key) return -1;
                    return 0;
                })

                slides.forEach(function (e) {
                    createImageDom(e.key, e.data);
                })
            }

            function createImageDom(id, data) {
                let image_wrapper = $('<div>', {class: 'col-md-3 col-sm-6 mb-4'})
                let image = $('<img>', {
                    class: 'img-fluid',
                    src: data,
                    id: 'image' + id,
                });
                image.click(function () {
                    $('#course-cover').attr('src', this.src);
                });

                image_wrapper.append(image);
                $('#images').append(image_wrapper);

                if (id === 0) {
                    $('#course-cover').attr("src", data);
                }
            }
        });

        $('#audio-input').change(function() {
            let file = this.files[0];
            console.log(file);

            $('#audio-player').show();
            $('#audio-source').attr('src', URL.createObjectURL(this.files[0]));
            console.log($('#audio-source').attr('src'));
        });

        $('#save').click(function () {
            course.title = $('#title').val();
            course.description = $('#description').val();
            course.slides = slides;

            let formData = new FormData();
            formData.append('course', JSON.stringify(course));
            $.ajax({
                url: baseUrl + 'courses/save_course',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    document.location.href = baseUrl + 'courses';
                },
                error: function (data) {
                    console.log('error');
                }
            });
        });

        let audioPlayer = document.querySelector('.green-audio-player');
        let playPause = audioPlayer.querySelector('#playPause');
        let playpauseBtn = audioPlayer.querySelector('.play-pause-btn');
        let loading = audioPlayer.querySelector('.loading');
        let progress = audioPlayer.querySelector('.progress');
        let sliders = audioPlayer.querySelectorAll('.slider');
        let volumeBtn = audioPlayer.querySelector('.volume-btn');
        let volumeControls = audioPlayer.querySelector('.volume-controls');
        let volumeProgress = volumeControls.querySelector('.slider .progress');
        let player = audioPlayer.querySelector('audio');
        let currentTime = audioPlayer.querySelector('.current-time');
        let totalTime = audioPlayer.querySelector('.total-time');
        let speaker = audioPlayer.querySelector('#speaker');

        let draggableClasses = ['pin'];
        let currentlyDragged = null;

        window.addEventListener('mousedown', function (event) {

            if (!isDraggable(event.target)) return false;

            currentlyDragged = event.target;
            let handleMethod = currentlyDragged.dataset.method;

            this.addEventListener('mousemove', window[handleMethod], false);

            window.addEventListener('mouseup', () => {
                currentlyDragged = false;
                window.removeEventListener('mousemove', window[handleMethod], false);
            }, false);
        });

        playpauseBtn.addEventListener('click', togglePlay);
        player.addEventListener('timeupdate', updateProgress);
        player.addEventListener('volumechange', updateVolume);
        player.addEventListener('loadedmetadata', () => {
            totalTime.textContent = formatTime(player.duration);
        });
        player.addEventListener('canplay', makePlay);
        player.addEventListener('ended', function () {
            playPause.attributes.d.value = "M18 12L0 24V0";
            player.currentTime = 0;
        });

        volumeBtn.addEventListener('click', () => {
            volumeBtn.classList.toggle('open');
            volumeControls.classList.toggle('hidden');
        })

        window.addEventListener('resize', directionAware);

        sliders.forEach(slider => {
            let pin = slider.querySelector('.pin');
            slider.addEventListener('click', window[pin.dataset.method]);
        });

        directionAware();

        function isDraggable(el) {
            let canDrag = false;
            let classes = Array.from(el.classList);
            draggableClasses.forEach(draggable => {
                if (classes.indexOf(draggable) !== -1)
                    canDrag = true;
            })
            return canDrag;
        }

        function inRange(event) {
            let rangeBox = getRangeBox(event);
            let rect = rangeBox.getBoundingClientRect();
            let direction = rangeBox.dataset.direction;
            if (direction === 'horizontal') {
                let min = rangeBox.offsetLeft;
                let max = min + rangeBox.offsetWidth;
                if (event.clientX < min || event.clientX > max) return false;
            } else {
                let min = rect.top;
                let max = min + rangeBox.offsetHeight;
                if (event.clientY < min || event.clientY > max) return false;
            }
            return true;
        }

        function updateProgress() {
            let current = player.currentTime;
            let percent = (current / player.duration) * 100;
            progress.style.width = percent + '%';

            currentTime.textContent = formatTime(current);

            /* TODO: add changing slides here */
            let slidesTime = [5, 10, 15, 20, 25, 30, 35];
            for (let i = currentSlideshowImageNumber; i < slidesTime.length; ++i) {
                if (player.currentTime > slidesTime[i]) {
                    currentSlideshowImageId++;
                    currentSlideshowImageNumber++;

                    $('#slideshow').attr('src', $('#image' + currentSlideshowImageNumber).attr('src'));
                    addCommentList(currentSlideshowImageId);
                } else break;
            }
        }

        function updateVolume() {
            volumeProgress.style.height = player.volume * 100 + '%';
            if (player.volume >= 0.5) {
                speaker.attributes.d.value = 'M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z';
            } else if (player.volume < 0.5 && player.volume > 0.05) {
                speaker.attributes.d.value = 'M0 7.667v8h5.333L12 22.333V1L5.333 7.667M17.333 11.373C17.333 9.013 16 6.987 14 6v10.707c2-.947 3.333-2.987 3.333-5.334z';
            } else if (player.volume <= 0.05) {
                speaker.attributes.d.value = 'M0 7.667v8h5.333L12 22.333V1L5.333 7.667';
            }
        }

        function getRangeBox(event) {
            let rangeBox = event.target;
            let el = currentlyDragged;
            if (event.type === 'click' && isDraggable(event.target)) {
                rangeBox = event.target.parentElement.parentElement;
            }
            if (event.type === 'mousemove') {
                rangeBox = el.parentElement.parentElement;
            }
            return rangeBox;
        }

        function getCoefficient(event) {
            let slider = getRangeBox(event);
            let rect = slider.getBoundingClientRect();
            let K = 0;
            if (slider.dataset.direction === 'horizontal') {
                let offsetX = event.clientX - slider.offsetLeft;
                let width = slider.clientWidth;
                K = offsetX / width;
            } else if (slider.dataset.direction === 'vertical') {
                let height = slider.clientHeight;
                let offsetY = event.clientY - rect.top;
                K = 1 - offsetY / height;
            }
            return K;
        }

        function rewind(event) {
            if (inRange(event)) {
                player.currentTime = player.duration * getCoefficient(event);
            }
        }

        function changeVolume(event) {
            if (inRange(event)) {
                player.volume = getCoefficient(event);
            }
        }

        function formatTime(time) {
            let min = Math.floor(time / 60);
            let sec = Math.floor(time % 60);
            return min + ':' + ((sec < 10) ? ('0' + sec) : sec);
        }

        function togglePlay() {
            if (player.paused) {
                playPause.attributes.d.value = "M0 0h6v24H0zM12 0h6v24h-6z";
                player.play();
            } else {
                playPause.attributes.d.value = "M18 12L0 24V0";
                player.pause();
            }
        }

        function makePlay() {
            playpauseBtn.style.display = 'block';
            loading.style.display = 'none';
        }

        function directionAware() {
            volumeControls.style.bottom = '52px';
            volumeControls.style.left = '-3px';
        }
    </script>

{% endblock %}
