{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Создать курс</h1>
        <div class="form-group">
            <label for="title">Название</label>
            <input id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea id="description" class="form-control" rows="4"></textarea>
        </div>

        <div id="presentation-input-group" class="form-group">
            <label for="upload">Презентация</label>
            <input id="presentation-input" type="file" accept=".png" multiple/>
        </div>
        <div id="audio-input-group" class="form-group">
            <label for="upload">Аудио-файл</label>
            <input id="audio-input" type="file" accept=".mp3"/>
        </div>

        <h2 class="my-4" id="current-image-label">Текущий слайд</h2>
        {% include "courses/presentation_player.html" %}
        {% include "courses/presentation_controllers.html" %}
        <div class="row">
            <div class="col-md-8 col-sm-8 mb-4">
                <h3 class="my-4" id="slides-label">Все слайды</h3>
                {% include "courses/slides_panel.html" %}
            </div>
            <div class="col-md-4 col-sm-4 mb-4 checkpoints-wrapper" id="checkpoints-wrapper">
                <h3 class="my-4" id="checkpoints-label">Контрольные точки</h3>
                {% include "courses/checkpoints_list.html" %}
                <h3 class="my-4" id="pointers-label">Указатели</h3>
                {% include "courses/pointers_list.html" %}
            </div>
        </div>
        <button id="save" class="btn btn-dark" type="submit">Сохранить</button>

        {% include "courses/error_modal.html" %}
    </div><!-- /.container -->

    <script>
        $(document).ready(function () {
            $("#current-image-label").hide();
            $("#slides-label").hide();

            $("#checkpoints-label").hide();
            $("#checkpoints-list").hide();

            $("#audio-player").hide();

            $("#slide-controllers").hide();
            $("#pointer-button").hide();

            $("#pointers-label").hide();
            $("#pointers-list").hide();
        });

        $(window).resize(function () {
            resizeCourseCoverDiv();
        });

        function resizeCourseCoverDiv() {
            let courseCoverWidth = presentationPlayerImage.width();
            presentationPlayerImage.height(courseCoverWidth * imageHeight / imageWidth);
        }

        let course = {};
        let slideList;
        let audioFile;
        let checkPoints = [];
        let pointers = [];

        $("#presentation-input").change(function () {
            slideList = [];
            $("#presentation-input-group").hide();
            $("#images").empty();
            $("#current-image-label").show();
            $("#image-box").show();
            $("#slides-label").show();

            let selectedFiles = this.files;

            for (let i = 0; i < selectedFiles.length; ++i) {
                slideList.push({
                    number: i,
                    name: selectedFiles[i].name,
                    raw: selectedFiles[i]
                });
            }

            for (let i = 0; i < slideList.length; ++i) {
                let fileReader = new FileReader();
                fileReader.onload = function () {
                    slideList[i].image = fileReader.result;
                    check();
                };
                fileReader.readAsDataURL(slideList[i].raw);
            }

            function check() {
                let ready = true;
                slideList.forEach(function (e) {
                    if (!e.image) ready = false;
                });

                if (ready) done();
            }

            function done() {
                slideList.sort(function (a, b) {
                    if (a.number > b.number) return 1;
                    if (a.number < b.number) return -1;
                    return 0;
                });

                slideList.forEach(function (e) {
                    createImageDom(e);
                    addSlideToChooseList(e);
                });

                getImageSize(slideList[0].image);
                resizePresentationImageDiv();
                presentationPlayerImage.css("background-image", "url(" + slideList[0].image + ")")
            }

            if (!$("#audio-input").is(":visible")) {
                checkPoints.push({
                    number: 0,
                    time: 0,
                    slide_name: slideList[0].name,
                    slide_number: 0
                });
                $("#slide-controllers").show();
                $("#pointer-button").show();

                $("#checkpoints-label").show();
                $("#checkpoints-list").show();

                $("#pointers-label").show();
                $("#pointers-list").show();
                fillCheckPointsList();
                fillPointersList();
            }
        });

        $("#audio-input").change(function () {
            $("#audio-input-group").hide();

            let file = this.files[0];
            let audio = $("audio");

            audioFile = {};
            audioFile.name = file.name;

            let fileReader = new FileReader();
            fileReader.onload = function () {
                audioFile.data = fileReader.result;
            };
            fileReader.readAsDataURL(file);

            audio.attr("src", URL.createObjectURL(file));
            $("#audio-player").show();

            if (!$("#presentation-input").is(":visible")) {
                checkPoints.push({
                    number: 0,
                    time: 0,
                    slide_name: slideList[0].name,
                    slide_number: 0
                });
                $("#slide-controllers").show();
                $("#pointer-button").show();

                $("#checkpoints-label").show();
                $("#checkpoints-list").show();

                $("#pointers-label").show();
                $("#pointers-list").show();
                fillCheckPointsList();
                fillPointersList();
            }
        });

        $("#save").click(function () {
            course.title = $("#title").val();
            course.description = $("#description").val();
            course.slides = slideList;
            course.audio = audioFile;
            course.check_points = checkPoints;
            course.pointers = pointers;

            if (!course.title) {
                $("#error-text").text("Укажите название презентации");
                $("#error-modal").modal();
                return;
            }
            if (!course.slides) {
                $("#error-text").text("Добавьте слайды презентации");
                $("#error-modal").modal();
                return;
            }
            if (!course.audio) {
                $("#error-text").text("Добавьте аудио файл");
                $("#error-modal").modal();
                return;
            }
            if (course.check_points.length === 1) {
                $("#error-text").text("Укажите переключение файлов");
                $("#error-modal").modal();
                return;
            }

            let formData = new FormData();
            formData.append("course", JSON.stringify(course));
            $.ajax({
                url: baseUrl + "courses/save_course",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    let course_id = data["course_id"]
                    document.location.href = baseUrl + "courses/get_course/" + course_id;
                },
                error: function (data) {
                    console.log("error while saving course...");
                }
            });
        });
    </script>

{% endblock %}
